
<div id="User" class="col s12">
<div class="row">
<h3> Manage Users</h3>
	<div class="col s10 offset-s1">
	<table class="responsive-table striped col m12">
		<tr>
			<th></th>
			<th>Name</th>
			<th>Position</th>
			<th></th>
			<th></th>
		</tr>
{{#each user}}
		<tr>
			<form method="post" action="/{{../team.team}}/{{../user_id}}/admin/settings/update/{{_id}}">
				<td>
					<div style="height: 50px; width: 50px; overflow:hidden; border-radius: 50%">
						<img src="{{img}}" width="100%">
					</div>
				</td>
				<td>
					{{first_name}} {{last_name}}
				</td>
				<td>
					<input type="hidden" name="team" value="{{team}}">
					<input class="form-control" type="hidden" name="fname" placeholder="First Name" value="{{first_name}}">
					<input class="form-control" type="hidden" name="lname" placeholder=" Last Name" value="{{last_name}}">
					<input class="form-control" type="hidden" name="email" placeholder="Email" value="{{email}}">
					<input class="form-control" type="hidden" name="username" placeholder="Username" value="{{username}}">
					<input class="form-control" type="hidden" name="password" placeholder="Password">
					<input class="form-control" type="hidden" name="password2" placeholder="Password">
					{{#equal position 'Owner'}}
						{{position}}
					{{else}}
					<div class="form-group">
						<select class="form-control browser-default" type="text" name="position">
							{{#equal position 'User'}}
								<option value="Manager">Manager</option>
								<option value="User" selected>User</option>
							{{else}}
								<option value="Manager" selected>Manager</option>
								<option value="User">User</option>
							{{/equal}}
						</select>
					</div>
					{{/equal}}
				</td>
				<td>
					{{#equal position 'Owner'}}
					{{else}}
					<div class="col s12 center">
						<button type="submit" class="waves-effect waves-light btn-flat col s12">Update</button>
					</div>
					{{/equal}}
				</td>
			</form>
			<td>
				{{#equal position 'Owner'}}
				{{else}}
					<button class="btn red waves-effect waves-light delete-form" data-target="settings{{_id}}">Delete</button>
					<div id="settings{{_id}}" class="modal">
					<form method="post" action="/{{../team.team}}/{{../user_id}}/admin/settings/delete/{{_id}}">
						<div class="modal-content center-align">
							<h6>Do you want to delete this user?</h6>
						</div>
						<div class="modal-footer">
								<button type="submit" class="waves-effect waves-light btn col m6 modal-action modal-close">Confirm</button>
								<a type="button" href="#!" class="waves-effect waves-light btn col m6 red modal-close">Cancel</a>
						</div>
					</form>
					</div>
				{{/equal}}
			</td>
		</tr>
{{/each}}
	</table>
	</div>
</div>
</div>

<div id="Account" class="col s12">
<div class="row">
	<h3>Account Settings</h3>
	<div class="form-group col s5"><br>
		<label> Team: </label>
		<input class="form-control" type="text" name="team" placeholder="Team" value="{{team.team}}" readonly>
	</div>Schedule:
	<div class="col s7 row">
		<div class="form-group col s4">
			<label> Time In: </label>
			<input class="form-control" type="time" name="sched_in" value="{{team.sched_in}}" readonly>
		</div>
		<div class="form-group col s4">
			<label> Time Out: </label>
			<input class="form-control" type="time" name="sched_out" value="{{team.sched_out}}" readonly>
		</div>
		<div class="col s3 offset-s1"><br>
			{{#equal wuser.position 'Owner'}}
				<button type="submit" class="waves-effect waves-light btn-flat col s12" data-target="Account_Settings">Edit</button>
				<div id="Account_Settings" class="modal">
					<form method="post" action="/{{team.team}}/{{user_id}}/admin/settings/update">
						<div class="modal-content">
							<div class="form-group col s6"><br>
								<label> Team: </label>
								<input class="form-control" type="text" name="team" placeholder="Team" value="{{team.team}}">
							</div>Schedule:
							<div class="col s6 row">
								<div class="form-group col s6">
									<label> Time In: </label>
									<input class="form-control" type="time" name="sched_in" value="{{team.sched_in}}">
								</div>
								<div class="form-group col s6">
									<label> Time Out: </label>
									<input class="form-control" type="time" name="sched_out" value="{{team.sched_out}}">
								</div>
						</div>
						<div class="modal-footer">
								<button type="submit" class="waves-effect waves-light btn col m6 modal-action modal-close">Confirm</button>
								<a type="button" href="#!" class="waves-effect waves-light btn col m6 red modal-close">Cancel</a>
						</div>
					</form>
				</div>
			{{/equal}}
		</div>
	</div>
</div>
<div class="row">
<h3>Holidays</h3>
	<table>
		<tr>
			<th>Holiday</th>
			<th>Date</th>
			<th></th>
		</tr>
		{{#each team.holiday}}
			<tr>
				<td>{{name}}</td>
				<td>{{date}}</td>
				<td>asdasd</td>
			</tr>
		{{/each}}
	</table>
	<button class="waves-effect waves-light btn-flat col s12" data-target="Add_Holiday">Add Holiday</button>
	<div id="Add_Holiday" class="modal">
		<form method="post" action="/{{team.team}}/{{user_id}}/admin/settings/add">
			<div class="modal-content">
				<div class="form-group col s6">
					<label> Holiday: </label>
					<input class="form-control" type="text" name="holiday_name" placeholder="Holiday Name">
				</div>
				<div class="form-group col s6">
					<label>Date: </label>
					<input id="datepicker" class="form-control" type="text" name="holiday_date" placeholder="Select Date MM-DD-YYYY">
				</div>
				<div><br><br><br><br><br><br><br><br><br><br><br><br></div>
			</div>
			<div class="modal-footer">
					<button type="submit" class="waves-effect waves-light btn col m6 modal-action modal-close">Confirm</button>
					<a type="button" href="#!" class="waves-effect waves-light btn col m6 red modal-close">Cancel</a>
			</div>
		</form>
	</div>
</div>
</div>