</div>
<div class="row">
<div id="Home" class="col s12">
{{#each team.departments}}
<div class="row">
	<h5>{{department}}</h5>
{{#each ../user}}
{{#ifCond department '==' ../department}}
<div class="col xl3 l4 m6 s12">
<div class="card horizontal badge tooltipped" data-target="{{id}}" data-delay="50" data-tooltip="Click to view profile" >
	<div class="card-image" style="border-radius: 5px 0px 0px 5px; width: 100px; height: 100px; overflow:hidden">
		<img src="{{img}}" style="position: absolute; width: 100px;">
	</div>
	<div class="card-stacked">
		<div class="card-content"><b>
			{{#each ../../log}}
				{{#equal user_id ../id}}
					{{#each status}}
						{{#equal (addOne @index) ../status.length}}
							{{#ifCond ../breakin.length '>' ../breakout.length}}
								<p id="status" class="waves-effect waves-light col s12 brown darken-2 dashboard">
									{{../../first_name}} {{../../last_name}}<br>
									{{../../email}} <br>
									{{../../position}}<br>
									On-Break</p>
							{{else}}
								{{#equal status 'Present'}}
									<p id="status" class="waves-effect waves-light col s12 blue darken-2 dashboard">
										{{../../first_name}} {{../../last_name}}<br>
										{{../../email}} <br>
										{{../../position}}<br>
										{{status}}{{#if ../timein}} - {{moment (add ../date ../timein.0.timein) 'hh:mm A'}}{{/if}}</p>
								{{/equal}}
								{{#equal status 'Late'}}
									<p id="status" class="waves-effect waves-light col s12 orange darken-2 dashboard">
										{{../../first_name}} {{../../last_name}}<br>
										{{../../email}} <br>
										{{../../position}}<br>
										{{status}}{{#if ../timein}} - {{moment (add ../date ../timein.0.timein) 'hh:mm A'}}{{/if}}</p>
								{{/equal}}
								{{#equal status 'Sick'}}
									<p id="status" class="waves-effect waves-light col s12 green darken-2 dashboard">
										{{../../first_name}} {{../../last_name}}<br>
										{{../../email}} <br>
										{{../../position}}<br>
										{{status}}</p>
								{{/equal}}
								{{#equal status 'Vacation'}}
									<p id="status" class="waves-effect waves-light col s12 red darken-2 dashboard">
										{{../../first_name}} {{../../last_name}}<br>
										{{../../email}} <br>
										{{../../position}}<br>
										{{status}}</p>
								{{/equal}}
								{{#equal status 'Absent'}}
									<p id="status" class="waves-effect waves-light col s12 grey darken-2 dashboard">
										{{../../first_name}} {{../../last_name}}<br>
										{{../../email}} <br>
										{{../../position}}<br>
										{{status}}</p>
								{{/equal}}
							{{/ifCond}}
						{{/equal}}
					{{/each}}
				{{/equal}}
			{{/each}}
		</b></div>
	</div>
</div>

<div class="grey darken-3 modal row " id="{{id}}">
	<div class="grey darken-3 card horizontal profiles col s12 hide-on-small-and-down">
		<div class="card-image waves-effect waves-light" data-target="img" style="border-radius: 7px; width: 240px; height: 240px; overflow:hidden">
			<img src="{{img}}" style=" width: 240px;">
		</div>
		<div class="card-stacked col" style="padding: 10px 0px 10px 5px">
				<div class="col waves-effect waves-light s12 cyan" >
					<p><b>Name:</b> {{first_name}} {{last_name}}</p>
					<p><b>Email:</b> {{email}}</p>
					<p><b>Department:</b> {{department}}</p>
					<p><b>Position:</b> {{position}}</p>
				</div>
				<p class="col s12 waves-effect waves-light blue">
					<b>Time In: </b>
			{{#each ../../log}}
				{{#equal user_id ../id}}
					{{#each timein}}
						{{#equal (addOne @index) ../timein.length}}
							{{#equal timein 'N/A'}}
								{{timein}}
							{{else}}
								{{moment (add ../../../../dates timein) 'hh:mm:ss A'}}
							{{/equal}}
						{{/equal}}
					{{/each}}
				{{/equal}}
			{{/each}}<br>
					<b>Time Out: </b>
			{{#each ../../log}}
				{{#equal user_id ../id}}
					{{#each timeout}}
						{{#equal (addOne @index) ../timein.length}}
							{{#equal timeout 'N/A'}}
								{{timeout}}
							{{else}}
								{{moment (add ../../../../dates timeout) 'hh:mm:ss A'}}
							{{/equal}}
						{{/equal}}
					{{/each}}
				{{/equal}}
			{{/each}}
				</p>
		{{#each ../../log}}
			{{#equal user_id ../id}}
				{{#each status}}
					{{#equal (addOne @index) ../status.length}}
						{{#ifCond ../breakin.length '>' ../breakout.length}}
							<p id="status" class="waves-effect waves-light btn col s12 brown" style="margin-top: 5px;">On-Break</p>
						{{else}}
							{{#equal status 'Present'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 blue" style="margin-top: 5px;">Present</p>
							{{/equal}}
							{{#equal status 'Late'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 orange" style="margin-top: 5px;">Late</p>
							{{/equal}}
							{{#equal status 'Sick'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 green" style="margin-top: 5px;">Sick</p>
							{{/equal}}
							{{#equal status 'Vacation'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 red" style="margin-top: 5px;">Vacation</p>
							{{/equal}}
							{{#equal status 'Absent'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 grey" style="margin-top: 5px;">Absent</p>
							{{/equal}}
						{{/ifCond}}
					{{/equal}}
				{{/each}}
			{{/equal}}
		{{/each}}
		</div>
	</div>
	<div class="grey darken-3 card small_profiles hide-on-med-and-up">
		<div class="card-image waves-effect waves-light" style="margin:5px; border-radius: 7px; width: 100% -10px; overflow:hidden">
			<img src="{{img}}" style=" width: 240px;">
		</div>
		<div class="card-stacked col" style="margin-top: 0px">
				<div class="col waves-effect waves-light s12 cyan" >
					<p><b>Name:</b> {{first_name}} {{last_name}}</p>
					<p><b>Email:</b> {{email}}</p>
					<p><b>Department:</b> {{department}}</p>
					<p><b>Position:</b> {{position}}</p>
				</div>
				<p class="col s12 waves-effect waves-light blue">
					<b>Time In: </b>
			{{#each ../../log}}
				{{#equal user_id ../id}}
					{{#each timein}}
						{{#equal (addOne @index) ../timein.length}}
							{{#equal timein 'N/A'}}
								{{timein}}
							{{else}}
								{{moment (add ../../../../dates timein) 'hh:mm:ss A'}}
							{{/equal}}
						{{/equal}}
					{{/each}}
				{{/equal}}
			{{/each}}<br>
					<b>Time Out: </b>
			{{#each ../../log}}
				{{#equal user_id ../id}}
					{{#each log.timeout}}
						{{#equal (addOne @index) ../timein.length}}
							{{#equal timeout 'N/A'}}
								{{timeout}}
							{{else}}
								{{moment (add ../../../../dates timeout) 'hh:mm:ss A'}}
							{{/equal}}
						{{/equal}}
					{{/each}}
				{{/equal}}
			{{/each}}
				</p>
		{{#each ../../log}}
			{{#equal user_id ../id}}
				{{#each status}}
					{{#equal (addOne @index) ../status.length}}
						{{#ifCond ../breakin.length '>' ../breakout.length}}
							<p id="status" class="waves-effect waves-light btn col s12 brown" style="margin-top: 5px;">On-Break</p>
						{{else}}
							{{#equal status 'Present'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 blue" style="margin-top: 5px;">Present</p>
							{{/equal}}
							{{#equal status 'Late'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 orange" style="margin-top: 5px;">Late</p>
							{{/equal}}
							{{#equal status 'Sick'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 green" style="margin-top: 5px;">Sick</p>
							{{/equal}}
							{{#equal status 'Vacation'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 red" style="margin-top: 5px;">Vacation</p>
							{{/equal}}
							{{#equal status 'Absent'}}
								<p id="status" class="waves-effect waves-light btn-large col s12 grey" style="margin-top: 5px;">Absent</p>
							{{/equal}}
						{{/ifCond}}
					{{/equal}}
				{{/each}}
			{{/equal}}
		{{/each}}
		</div>
	</div>
</div>
</div>
{{/ifCond}}
{{/each}}
</div>
{{/each}}
</div>
<div id="History" class="col l10 offset-l1 container">
<form method="post" action="/dashboard/filter" class="row">
		<div class="form-group col l3 m5 s6">
		<select multiple name="filterMonth">
			<option disabled selected>Select Month</option>
			<option value="01">January</option>
			<option value="02">Febuary</option>
			<option value="03">March</option>
			<option value="04">April</option>
			<option value="05">May</option>
			<option value="06">June</option>
			<option value="07">July</option>
			<option value="08">August</option>
			<option value="09">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
	</div>
	<div class="form-group col l3 m5 s6">
		<select multiple name="filterStatus">
			<option disabled selected>Select Status</option>
			<option value="Absent">Absent</option>
			<option value="Present">Present</option>
			<option value="Late">Late</option>
			<option value="Sick">Sick</option>
			<option value="Vacation">Vacation</option>
			<option value="Holiday">Holiday</option>
		</select>
	</div>
	<button type="submit" id="filter" class="waves-effect waves-light btn-large btn-flat col l2 m2 s12">Filter</button>
</form>
<table class="bordered col s12">
	<tr>
		<th>Name</th>
		<th>Date</th>
		<th>Location</th>
		<th>Time In</th>
		<th>Start Break</th>
		<th>End Break</th>
		<th>Time Out</th>
		<th>Status</th>
		<th>Duration</th>
	</tr>
{{#each logs}}
	{{#each ../user}}
		{{#equal id ../user_id}}
			{{#each ../../filterMonth}}
				{{#equal this (moment ../date 'MM')}}
					{{#each ../../../filterStatus}}
						{{#equal this ../../../status.0.status}}
							<tr>
								<td>
									{{../../first_name}} {{../../last_name}}
								</td>
								<td>
									{{moment ../../../date 'MMM DD YYYY'}}
								</td>
								<td>
									{{#each ../../../timein}}
											{{#equal timein 'N/A'}}
												{{timein}}
											{{else}}
												{{location}}<br>
											{{/equal}}
									{{/each}}
								</td>
								<td>
									{{#each ../../../timein}}
											{{#equal timein 'N/A'}}
												{{timein}}
											{{else}}
												{{moment (add ../../../../date timein) 'hh:mm:ss A'}}<br>
											{{/equal}}
									{{/each}}
								</td>
								<td>
									{{#each ../../../breakin}}
											{{#equal breakin 'N/A'}}
												{{breakin}}
											{{else}}
												{{moment (add ../../../../date breakin) 'hh:mm:ss A'}}<br>
											{{/equal}}
									{{/each}}
								</td>
								<td>
									{{#each ../../../breakout}}
											{{#equal breakout 'N/A'}}
												{{breakout}}
											{{else}}
												{{moment (add ../../../../date breakout) 'hh:mm:ss A'}}<br>
											{{/equal}}
									{{/each}}
								</td>
								<td>
									{{#each ../../../timeout}}
										{{#equal timeout 'N/A'}}
											{{timeout}}
										{{else}}
											{{moment (add ../../../../date timeout) 'hh:mm:ss A'}}<br>
										{{/equal}}
									{{/each}}
								</td>
								<td>
									{{../../../status.0.status}}
								</td>
								<td>
									{{#each ../../../../hours_spent}}
										{{#ifCond name '==' ../../../../name}}
											{{#ifCond date '==' ../../../../date}}
												{{hours}}
											{{/ifCond}}
										{{/ifCond}}
									{{/each}}
								</td>
							</tr>
						{{/equal}}
					{{/each}}
				{{/equal}}
			{{/each}}
		{{/equal}}
	{{/each}}
{{/each}}
</table>
</div>
</div>
{{#equal wuser.position 'User'}}
{{else}}
<div id="Form" class="col s12 container">
<table class="col s12">
	<tr>
		<th>Name</th>
		<th>Date Requested</th>
		<th>Leave Request</th>
		<th>Status</th>
		<th></th>
	</tr>
{{#each user}}
	{{#each ../forms}}
		{{#equal ../id user_id}}
			<tr>
				<td>{{../first_name}} {{../last_name}}</td>
				<td>{{moment date 'MMM DD, YYYY'}}</td>
				<td>{{moment leave_date 'MMM DD, YYYY'}}</td>
				<td>{{leave_status}}</td>
				<td>
					{{#ifCond leave_status '==' 'pending'}}
						<button class="btn blue waves-effect waves-light delete-form" data-target="form{{_id}}">Update</button>
					{{/ifCond}}
				</td>
				<div id="form{{_id}}" class="modal modal-fixed-footer">
					<form method="post" action="/dashboard/leave/form/{{../id}}/update/{{_id}}">
						<div class="modal-content">
							<div class="form-group">
								<b>Date Requested: </b><h6>{{moment date_requested 'MMM DD, YYYY'}}</h6>
								<input type="hidden" name="date_requested" value="{{date_requested}}">
								<b>Leave Date: </b><h6>{{moment leave_date 'MMM DD, YYYY'}}</h6>
								<input type="hidden" name="leave_date" value="{{leave_date}}">
								<b>Mesage: </b><h6>{{message}}</h6>
								<input type="hidden" name="message" value="{{message}}">
								<input type="hidden" name="count" value="{{../leave_count}}">
							</div>
							<div class="form-group">
								<select name="leave_status" class="browser-default">
									<option value="{{leave_status}}" selected>Select Status</option>
									<option value="approve">Approve</option>
									<option value="deny">Deny</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
								<button type="submit" class="waves-effect waves-light btn col m6 modal-action modal-close">Submit</button>
								<a type="button" href="#!" class="waves-effect waves-light btn col m6 red modal-close">Cancel</a>
						</div>
					</form>
				</div>
			</tr>
		{{/equal}}
	{{/each}}
{{/each}}
</table>
</div>
{{/equal}}