
<div class="row">
	<form method="post" action="/report">
		<div class="form-group col s4">
			<label>From:</label>
			<input type="date" max="{{moment asd 'YYYY-MM-DD'}}" class="form-control" name="from_date">
		</div>
		<div class="form-group col s4">
			<label>To:</label>
			<input type="date" max="{{moment asd 'YYYY-MM-DD'}}" class="form-control" name="to_date">
		</div>
		<button type="submit" class="waves-effect waves-light btn col s4">Filter Report</button>
	</form>
	<table class="table-responsive bordered">
		<tr>
			<th>Id</th>
			<th>User</th>
			<th>Data</th>
			<th>Hours Spent</th>
		</tr>
		{{#each user}}
		<tr>
			<td>{{id}}</td>
			<td>Name: {{first_name}} {{last_name}}<br>
				Email: {{email}}<br>
				Department: {{department}}<br>
				Position: {{position}}</td>
			{{#each ../count}}{{#equal user_id ../id}}
				<td>
					Present: {{present}}<br>
					Late: {{late}}<br>
					Absent: {{absent}}<br>
					Sick: {{sick}}<br>
					Vacation: {{vacation}}
				</td>
				<td>
					{{hours}}
				</td>
			{{/equal}}{{/each}}
		</tr>
		{{/each}}
	</table><br>
	<form method="post" action="/report/download">
		<input type="hidden" class="form-control" name="from" value="{{from}}">
		<input type="hidden" class="form-control" name="to" value="{{to}}">
		<button type="submit" class="waves-effect waves-light btn col s4 right blue">Download Report</button>
	</form>
</div>